<section class="hero">
    <div class="hero-content">
        <p class="text-accent" style="margin-bottom: 10px;">// INITIALIZING SEQUENCE...</p>
        <h1>Architecting<br>Digital<br><span class="text-accent">Superiority</span></h1>
        <div class="hero-sub">
            <p>PROBABILISTIC ALGORITHMS / ANOMALY DETECTION / FINANCIAL ENGINEERING  </p>
            <p class="text-dim" style="margin-top:0.5rem; font-size: 0.8rem;">[ CLASSIFIED CLEARANCE REQ ]</p>
        </div>
        <a href="#projects" class="btn btn-fill">INITIATE_VIEW >></a>
    </div>
</section>